.container{
    display: flex;
    height: 200px;
    background-color: #1F2937;
    color:white;
    font-family:"Roboto";
    padding-left:300px;
    padding-right:300px;
}

.section{
    background-color:white;
    font-family:"Roboto";
    padding-left:540px;
    padding-right:540px;
}
.container.two{
    height:400px;
}
.header.one{
    font-size:24px;
    font-weight: bolder;
    width:70%;
    padding-top:25px;
}

.item{
    font-size:18px;
    width:200px;
    text-align:center;
    padding-top:25px;
}

.header.two{
    font-size:48px;
    font-weight: bolder;
}

.left p{
    font-size:18px;
    color:#E5E7EB
}

.left{
    width:36%;
}

.right{
    text-align:center;
    padding-left:100px;
    flex:1;
}

img{
    height:80%;
    width:100%;
}

button{
    background-color:#3882F6;
    color:white;
    text-align:center;
    font-size: 18px;
    font-weight:bold;
    border-radius:12px;
    padding: 8px 28px;
}
button#one{
    border:none;
}
.section.one .info{
    font-size:36px;
    font-weight:900;
    text-align:center;
    padding-top:50px;
}
.section .squares div{
    border:3px solid #3882F6;
    width:150px;
    height:150px;
    border-radius:12px;
    margin-top:50px;
}

.section .squares,.text{
    display:flex;
    justify-content:space-between;
}

.section .text div{
    width:145px;
    text-align:center;
    margin-top:10px;
    margin-bottom:50px;
}

.section.two{
    background-color:#E5E7EB;
    height:400px;
}

.section.two p{
    font-size:36px;
    color:#1F2937;
    font-style:italic;
    padding-top:100px;
}

.section.two div{
    font-size: 18px;
    font-weight:bold;
    padding-left:615px;
}

.three {
    display:flex;
    margin-left:450px;
    margin-right:450px;
    margin-top:70px;
    margin-bottom:70px;
    background-color: #3882F6;
    color:white;
    font-family:"Roboto";
    height:120px;
    border-radius: 8px;
}
.three .side.left{
    width: 70%;
    margin:auto;
    margin-left:100px;
}

#first{
    font-size:20px;
    font-weight:900;
} 

.three .side.right{
    margin:auto;
    align-content: center;
}

button#two{
    border:1px solid white;
    margin-right:100px;
    width:130px;
}

.footer{
    text-align:center;
    background-color: #1F2937;
    color: white;
    padding-top:50px;
    padding-bottom:50px;
    font-family:"Roboto";
}